Build
Build.bat
/build/
MYMETA.json
MYMETA.yml
_build
blib
xs/buildtmp
*.o
MANIFEST.bak
xs/MANIFEST.bak
xs/assertlib*
.init_bundle.ini
.vs/*
/src/TAGS
/.vscode/
build-linux/*
deps/build*
deps/build-linux/*
**/.DS_Store
**/.idea/
.pkg_cache
CMakeUserPresets.json
huafu_slicer/Build
huafu_slicer/Build.bat
huafu_slicer/build/
huafu_slicer/MYMETA.json
huafu_slicer/MYMETA.yml
huafu_slicer/_build
huafu_slicer/blib
huafu_slicer/xs/buildtmp
huafu_slicer/*.o
huafu_slicer/MANIFEST.bak
huafu_slicer/xs/MANIFEST.bak
huafu_slicer/xs/assertlib*
huafu_slicer/.init_bundle.ini
huafu_slicer/.vs/*
huafu_slicer//src/TAGS
huafu_slicer//.vscode/
huafu_slicer/build-linux/*
huafu_slicer/deps/build*
huafu_slicer/deps/build-linux/*
huafu_slicer/**/.DS_Store
huafu_slicer/**/.idea/
huafu_slicer/.pkg_cache
huafu_slicer/CMakeUserPresets.json

